@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Reset default margins and padding on common elements */
body, h1, h2, h3, h4, h5, h6, p, ul, ol, li, figure, figcaption, blockquote, dl, dd {
    margin: 0;
    padding: 0;
}

body{
  font-family: 'Open Sans', sans-serif;
  overflow-x: hidden;

}

:disabled {
  background: gray !important;
}
